<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zalonstyles.app.zalon">
    <uses-permission android:name="android.permission.INTERNET" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forgotPassword">
            </activity>
        <activity
            android:name=".changePassword"
            android:screenOrientation="landscape" >
        </activity>
        <activity
        android:name=".Services_activity"
            android:screenOrientation="landscape"
        android:label="Services" >
        </activity>
        <activity android:name=".Popup_body"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".popup_nail"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".popup_hair"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".popup_massage"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".popup_face"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".popup_hr_removal"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
        <activity android:name=".add_employee"
        android:screenOrientation="landscape"
        android:label="ADD EMPLOYEE"
        android:theme="@style/AppTheme.CustomTheme1">
         </activity>
        <activity
            android:name=".CalendarMain"
            android:screenOrientation="landscape"
            android:label="Calendar" >
        </activity>
        <activity
            android:name=".BillingMain"
            android:screenOrientation="landscape"
            android:label="Billing" >
        </activity>
        <activity
            android:name=".ReportMain"
            android:screenOrientation="landscape"
            android:label="Report" >
        </activity>
        <activity
            android:name=".MarketingMain"
            android:screenOrientation="landscape"
            android:label="Marketing" >
        </activity>
        <activity
            android:name=".ServicesMain"
            android:screenOrientation="landscape"
            android:label="Service" >
        </activity>
        <activity
            android:name=".SettingsMain"
            android:screenOrientation="landscape"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".AccountingMain"
            android:screenOrientation="landscape"
            android:label="Accounting" >
        </activity>
        <activity
            android:name=".EmployeeManagement"
            android:screenOrientation="landscape"
            android:label="Employee Management" >
        </activity>
        <activity
            android:name=".Inventory"
            android:screenOrientation="landscape"
            android:label="Inventory" >
        </activity>
        <activity
            android:name=".SellableInventory"
            android:screenOrientation="landscape"
            android:label="Sellable Inventory" >
        </activity>
        <activity
            android:name=".Profile"
            android:screenOrientation="landscape"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".GiftVouchers"
            android:screenOrientation="landscape"
            android:label="Gift Vouchers" >
        </activity>
        <activity
            android:name=".PrintReceipts"
            android:screenOrientation="landscape"
            android:label="Print Receipts" >
        </activity>
        <activity
            android:name=".Customers"
            android:screenOrientation="landscape"
            android:label="Customers" >
        </activity>
        <activity
            android:name=".Billing"
            android:screenOrientation="landscape"
            android:label="Gift Vouchers" >
        </activity>
        <activity
            android:name=".Change_Password"
            android:screenOrientation="landscape"
            android:label="Change Password" >
        </activity>
        <activity
            android:name=".PolicyZalon"
            android:screenOrientation="landscape"
            android:label="Policy" >
        </activity>
        <activity
            android:name=".About"
            android:screenOrientation="landscape"
            android:label="ABOUT" >
        </activity>
        <activity
            android:name=".Logout"
            android:screenOrientation="landscape"
            android:label="Logout" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:screenOrientation="landscape"
            android:label="EditProfile" >
        </activity>






    </application>

</manifest>